{{- $plugins := list -}}
{{- $ohmyzshRemote := "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins" -}}
{{- $common := (list "common-aliases" "github" "rbenv" "git" "ruby" "gcloud" "fzf") -}}
{{- $work := (list "pyenv" "nvm") -}}
{{- $personal := (list) -}}
{{- $nas := (list) -}}

{{- if eq .class "Work" -}}
    {{- $plugins = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $plugins = (concat $personal $common | sortAlpha) -}}
{{- else if eq .class "NAS" -}}
    {{- $plugins = (concat $nas $common | sortAlpha) -}}
{{- end -}}

{{- range $plugin := $plugins }}
    [plugins.{{- $plugin -}}]
    remote = "{{- $ohmyzshRemote -}}/{{- $plugin -}}/{{- $plugin -}}.plugin.zsh"
{{ end }}