{{- includeTemplate "do-not-edit.tmpl" . }}

[plugins]
{{ includeTemplate "sheldon/plugins.tmpl" . -}}
{{- includeTemplate "sheldon/ohmyzsh.tmpl" . }}
{{- includeTemplate "sheldon/local_plugins.tmpl" . }}
