{{- includeTemplate "do-not-edit.tmpl" . }}

console_title_template: {{ "\"{{.Folder}}{{if .Root}} ::  {{.Shell}}\"" }}
version: 2
final_space: true
osc99: true
blocks:
{{ includeTemplate "oh-my-posh/blocks/first_left.tmpl" . | indent 2}}
{{ includeTemplate "oh-my-posh/blocks/first_right.tmpl" . | indent 2}}
{{ includeTemplate "oh-my-posh/blocks/second_left.tmpl" . | indent 2}}
{{ includeTemplate "oh-my-posh/blocks/exit.tmpl" . | indent 2}}

