{{- includeTemplate "do-not-edit.tmpl" . }}

export XDG_CONFIG_HOME={{ $.chezmoi.homeDir }}/.config
export XDG_CACHE_HOME={{ $.chezmoi.homeDir }}/.cache
export XDG_DATA_HOME={{ $.chezmoi.homeDir }}/.local/share
{{- if eq .chezmoi.os "darwin" }}
export XDG_RUNTIME_DIR=/run/user/$UID
{{- end }}
export XDG_STATE_HOME={{ $.chezmoi.homeDir }}/.local/state
export XDG_DATA_DIRS=/usr/local/share/:/usr/share/
export XDG_CONFIG_DIRS=/etc/xdg
export XDG_DESKTOP_DIR="{{ $.chezmoi.homeDir }}/Desktop"
export XDG_DOCUMENTS_DIR="{{ $.chezmoi.homeDir }}/Documents"
export XDG_DOWNLOAD_DIR="{{ $.chezmoi.homeDir }}/Downloads"
export XDG_MUSIC_DIR="{{ $.chezmoi.homeDir }}/Music"
export XDG_PICTURES_DIR="{{ $.chezmoi.homeDir }}/Pictures"
export XDG_PUBLICSHARE_DIR="{{ $.chezmoi.homeDir }}/Public"
export XDG_TEMPLATES_DIR="{{ $.chezmoi.homeDir }}/Templates"
export XDG_VIDEOS_DIR="{{ $.chezmoi.homeDir }}/Videos"