{{- includeTemplate "do-not-edit.tmpl" . }}
{{- includeTemplate "brewfile/taps.tmpl" . }}
{{- includeTemplate "brewfile/casks.tmpl" .}}
{{- includeTemplate "brewfile/formulas.tmpl" .}}
{{- includeTemplate "brewfile/mas.tmpl" .}}
