
- type: kubectl
  style: powerline
  powerline_symbol: "\uE0B0"
  foreground: "#000000"
  background: "#ebcc34"
  template: {{"\" \uFD31 {{.Context}}{{if .Namespace}} :: {{.Namespace}}{{end}} \"" }}
  properties:
    parse_kubeconfig: true