{{- $casks := list -}}
{{- $common := list -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- $common = (list "adobe-creative-cloud" "alfred" "authy" "caffeine" "devtoys" "flux" "gpg-suite-no-mail"
"grammarly-desktop" "intellij-idea" "iterm2" "macupdater" "marvin" "obsidian" "unclutter"
"zotero" "font-meslo-lg-nerd-font" "espanso" "krisp" "docker") -}}
{{ else if eq .chezmoi.os "linux" -}}
{{- $common = (list) -}}
{{- end -}}

{{- $work := (list "slack") -}}
{{- $personal := (list "tailscale" "electorrent") -}}

{{- if eq .class "Work" -}}
    {{- $casks = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $casks = (concat $personal $common | sortAlpha) -}}
{{- end -}}

# casks
{{- range $cask := $casks }}
    cask {{ $cask | quote }}
{{- end }}