{{- $formulas := list -}}
{{- $common := (list "bash" "coreutils" "fzf" "git" "git-filter-repo" "git-lfs" "gnupg" "jq" "mas" "organize-tool"
"tealdeer" "tree" "sheldon" "vim" "vimpager" "oh-my-posh" "age" "xdg-ninja" "antidot"
"chezmoi" "go" "diff-so-fancy") -}}
{{- $work := (list) -}}
{{- $personal := (list "tailscale" "sops") -}}

{{- if eq .class "Work" -}}
    {{- $formulas = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $formulas = (concat $personal $common | sortAlpha) -}}
{{- end }}

# formulas
{{- range $formula := $formulas }}
    brew {{ $formula | quote }}
{{- end }}