{{- $formulas := list -}}
{{- $common := list -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- $common = (list
"age"
"antidot"
"bash"
"chezmoi"
"coreutilsfzf"
"diff-so-fancy"
"git"
"git-filter-repo"
"git-lfs"
"gnupg"
"go"
"jq"
"mas"
"oh-my-posh"
"organize-tool"
"sheldon"
"tealdeer"
"tree"
"vim"
"vimpager"
"xdg-ninja"
"font-fira-code-nerd-font"
"font-fira-mono-nerd-font"
"exa"
"fzf"
) -}}
{{ else if eq .chezmoi.os "linux" -}}
{{- $common = (list
"age"
"bash"
    "chezmoi"
    "exa"
    "fzf"
    "git"
    "oh-my-posh"
    "sheldon"
    "xdg-ninja"
) -}}
{{- end -}}
{{- $work := (list
"aws-cdk"
"aws-sso-util"
"awscli"
"awsume"
"docutils"
"node"
) -}}
{{- $personal := (list
"sops"
"tailscale"
) -}}
{{- $nas := (list) -}}

{{- if eq .class "Work" -}}
    {{- $formulas = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $formulas = (concat $personal $common | sortAlpha) -}}
{{- else if eq .class "NAS" -}}
    {{- $formulas = (concat $nas $common | sortAlpha) -}}
{{- end }}

# formulas
{{- range $formula := $formulas }}
    brew {{ $formula | quote }}
{{- end }}