{{- $formulas := list -}}

{{- $common := (list
"age"
"antidot"
"bash"
"chezmoi"
"coreutilsfzf"
"diff-so-fancy"
"git"
"git-filter-repo"
"git-lfs"
"gnupg"
"go"
"jq"
"mas"
"oh-my-posh"
"organize-tool"
"sheldon"
"tealdeer"
"tree"
"vim"
"vimpager"
"xdg-ninja"
"font-fira-code-nerd-font"
"font-fira-mono-nerd-font"
"exa"
"fzf"
) -}}

{{- $work := (list
"aws-cdk"
"aws-sso-util"
"awscli"
"awsume"
"docutils"
"node"
) -}}
{{- $personal := (list
"sops"
"tailscale"
) -}}

{{- if eq .class "Work" -}}
    {{- $formulas = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $formulas = (concat $personal $common | sortAlpha) -}}
{{- end }}

# formulas
{{- range $formula := $formulas }}
    brew {{ $formula | quote }}
{{- end }}