{{- $taps := list -}}
{{- $common := list -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- $common = (list "homebrew/core" "homebrew/cask" "jandedobbeleer/oh-my-posh" "espanso/espanso"
"homebrew/cask-fonts" "buo/cask-upgrade" "homebrew/bundle" "doron-cohen/tap") -}}
{{ else if eq .chezmoi.os "linux" -}}
{{- $common = (list "homebrew/services") -}}
{{- end -}}
{{- $work := (list) -}}
{{- $personal := (list) -}}
{{- $nas := (list) -}}

{{- if eq .class "Work" -}}
    {{- $taps = (concat $work $common | sortAlpha) -}}
{{- else if eq .class "Personal" -}}
    {{- $taps = (concat $personal $common | sortAlpha) -}}
{{- else if eq .class "NAS" -}}
    {{- $taps = (concat $nas $common | sortAlpha) -}}
{{- end }}

# taps
{{- range $tap := $taps }}
    tap {{ $tap | quote }}
{{- end }}

